<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Perfil de usuario</title>
    <link rel="stylesheet" href="/css/profile.css" />
    <%- include('../partials/head') %>
  </head>
  <body class= "body">

    <%- include('../partials/header') %>

    <main class="mainProfile">

      <h3 class="welcome">
      ¡Bienvenido/a <br>
      <%= user.email %>!   
      </h3>
      
    <figure class = "profilePhoto">
      <img class = "profilePhoto__picture" src="/uploads/avatars/<%= user.avatar %> " alt="Foto de Perfil">
    </figure>

    <form class="form" action="/users/logout" method="POST">
      <button class="form__button" type="submit">Cerrar sesión</button>
    </form>
    </main>

    <%- include('../partials/footer') %>

  </body>
</html>
