<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registrate en Rodá</title>
    <link rel="stylesheet" href="/css/usersForms.css" />
    <%- include('../partials/head') %>
  </head>
  <body class= "body">
  
    <%- include('../partials/header') %>

    <main class="mainForms">
      <form class="form" action="/users/save" method="POST" enctype="multipart/form-data">
        <h3 class="form__h3">Crea tu cuenta</h3>
        <fieldset class="form__fieldset" id="group__email">
          <% if (locals.errors && errors.email) { %>
            <div>
              <p class="form__p form__p--error form__p--errorRegister">
                <%= errors.email.msg %>
              </p>
            </div>
            <% } %> 
            <% if (locals.errors && errors.password) { %>
            <div>
              <p class="form__p form__p--error form__p--errorRegister">
                <%= errors.password.msg %>
              </p>
            </div>
            <% } %>
            <% if (locals.errors && errors.passwordConfirm) { %>
              <div>
                <p class="form__p form__p--error form__p--errorRegister">
                  <%= errors.passwordConfirm.msg %>
                </p>
              </div>
              <% } %>        

            <label class="fieldset__label" for="email">Email</label>
            <div class="fieldset__group">
              <input
                class="fieldset__input email"
                type="email"
                name="email"
                id="email"
              />
              <i class="fieldset__validation-status--inactive fas fa-times-circle"></i>
            </div>
            <p class="fieldset__error--inactive">El email debe ser válido</p>
        </fieldset>

          <fieldset class="form__fieldset form__fieldset--forgetPass" id="group__password">
            <label class="fieldset__label" for="password">Contraseña</label>
            <div class="fieldset__group">
              <input
                class="fieldset__input"
                type="password"
                name="password"
                id="password"
              />
              <i class="fieldset__validation-status--inactive fas fa-times-circle"></i>
            </div>
            <p class="fieldset__error--inactive">La contraseña debe tener entre 6 y 12 caracteres</p>
          </fieldset> 

          <fieldset class="form__fieldset form__fieldset--forgetPass" id="group__passwordConfirm">
            <label class="fieldset__label" for="passwordConfirm">Confirmar Contraseña</label>
            <div class="fieldset__group">
              <input
                class="fieldset__input"
                type="password"
                name="passwordConfirm"
                id="passwordConfirm"
              />
              <i class="fieldset__validation-status--inactive fas fa-times-circle"></i>
            </div>
            <p class="fieldset__error--inactive">Prueba</p>
          </fieldset> 

          
          
       

        


          <!--Enviamos el mensaje al usuario-->
          <% if (locals.errors && errors.passwordConfirm) { %>
            <p class="form__p form__p--error"><%= errors.passwordConfirm.msg %></p>
        <% } %>
        </fieldset>
        
        <fieldset class="form__fieldset">
          <label class="fieldset__label" for="image">Imagen de perfil</label>
          <input class="fieldset__input" type="file" name="avatar" id="image">
          <!--Enviamos el mensaje al usuario-->
          <% if (locals.errors && errors.avatar) { %>
            <p class="form__p form__p--error"><%= errors.avatar.msg %></p>
        <% } %>
      </fieldset>
        <fieldset class="form__fieldset form__fieldset--termCondition">
            <input class="fieldset__input fieldset__input--termCondition" type="checkbox" name="termCondition" id="termCondition"/>
            <label class="fieldset__label fieldset__label--termCondition" for="termCondition">Acepto los Términos y Condiciones y autorizo el uso de mis datos de acuerdo a la Declaración de Privacidad *</label>
        </fieldset>
        <button class="form__button form__button--register" type="submit">Crear</button>
      </form>
    </main>

    <%- include('../partials/footer') %>
    
    <script src="/validFront/validFrontLogin.js"></script>


  </body>
</html>
