<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registrate en Rodá</title>
    <link rel="stylesheet" href="/css/usersForms.css" />
    <%- include('../partials/head') %>
  </head>
  <body class= "body">
  
    <%- include('../partials/header') %>

    <main class="mainForms">
      <form class="form" action="/users/save" method="POST" enctype="multipart/form-data">
        <h3 class="form__h3">Crea tu cuenta</h3>
        <fieldset class="form__fieldset">
            <label class="fieldset__label" for="email">Email</label>
            <input class="fieldset__input" type="email" name="email" id="email" value="<%= locals.old && old.email %>"/>
            <!--Enviamos el mensaje de error al usuario-->
            <% if (locals.errors && errors.email) { %>
              <p class="form__p form__p--error"><%= errors.email.msg %></p>
            <% } %>
        </fieldset>
        <fieldset class="form__fieldset">
          <label class="fieldset__label" for="password">Contraseña</label>
          <input
            class="fieldset__input"
            type="password"
            name="password"
            id="password"
          />
          <!--Enviamos el mensaje al usuario-->
          <% if (locals.errors && errors.password) { %>
            <p class="form__p form__p--error"><%= errors.password.msg %></p>
        <% } %>
        </fieldset>
        <fieldset class="form__fieldset">
          <label class="fieldset__label" for="passwordConfirm">Confirmar contraseña</label>
          <input
            class="fieldset__input"
            type="password"
            name="passwordConfirm"
            id="passwordConfirm"
          />
          <!--Enviamos el mensaje al usuario-->
          <% if (locals.errors && errors.passwordConfirm) { %>
            <p class="form__p form__p--error"><%= errors.passwordConfirm.msg %></p>
        <% } %>
        </fieldset>
        <fieldset class="form__fieldset">
          <label class="fieldset__label" for="image">Imagen de perfil</label>
          <input class="fieldset__input" type="file" name="avatar" id="image">
          <!--Enviamos el mensaje al usuario-->
          <% if (locals.errors && errors.avatar) { %>
            <p class="form__p form__p--error"><%= errors.avatar.msg %></p>
        <% } %>
      </fieldset>
        <fieldset class="form__fieldset form__fieldset--termCondition">
            <input class="fieldset__input fieldset__input--termCondition" type="checkbox" name="termCondition" id="termCondition"/>
            <label class="fieldset__label fieldset__label--termCondition" for="termCondition">Acepto los Términos y Condiciones y autorizo el uso de mis datos de acuerdo a la Declaración de Privacidad *</label>
        </fieldset>
        <button class="form__button form__button--register" type="submit">Crear</button>
      </form>
    </main>

    <%- include('../partials/footer') %>

  </body>
</html>
