<!DOCTYPE html>
<html lang="en">

<head>
    <title>Crear producto</title>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/productsForms.css" />
</head>

<body class="body">
    <%- include('../partials/header') %>

        <main class="mainForms">
            <form class="form" action="/products/save" method="POST" enctype="multipart/form-data">
                <h3 class="form__h3">Creación de producto</h3>
                <fieldset class="form__fieldset" id="group__name">
                    <label class=fieldset__label for="name">Nombre del producto</label>
                    <div class="fieldset__group">
                        <input class="fieldset__input" type="text" name="name" id="name"
                            value="<%= locals.old && old.name %>">
                        <i class="fieldset__validation-status--inactive fas fa-times-circle"></i>
                    </div>
                    <p class="fieldset__error--inactive">Debe ingresar el nombre del producto</p>
                    <!--Enviamos el mensaje de error al usuario-->
                    <% if (locals.errors && errors.name) { %>
                        <p class="form__p form__p--error">
                            <%= errors.name.msg %>
                        </p>
                        <% } %>
                </fieldset>
                <fieldset class="form__fieldset" id="group__description">
                    <label class=fieldset__label for="description">Descripción</label>
                    <div class="fieldset__group">
                        <textarea class="fieldset__textarea" name="description" id="description" cols="30"
                            rows="10"><%= locals.old && old.description %></textarea>
                        <i class="fieldset__validation-status--inactive fas fa-times-circle"></i>
                    </div>
                    <p class="fieldset__error--inactive">Debe ingresar una descripción</p>
                    <% if (locals.errors && errors.description) { %>
                        <p class="form__p form__p--error">
                            <%= errors.description.msg %>
                        </p>
                        <% } %>
                </fieldset>
                <fieldset class="form__fieldset">
                    <label class="fieldset__label" for="image">Imagen</label>
                    <input class="fieldset__input" type="file" name="image" id="image">
                    <% if (locals.errors && errors.image) { %>
                        <p class="form__p form__p--error">
                            <%= errors.image.msg %>
                        </p>
                        <% } %>
                </fieldset>

                <fieldset class="form__fieldset">
                    <label class=fieldset__label for="">Categoría</label>
                    <select class="fieldset__select" name="category" id="category">
                        <% for (let i=0; i < categories.length; i++) { %>
                            <option class="select__option" value="<%=categories[i].id%>">
                                <%=categories[i].name%>
                            </option>
                            <% } %>
                    </select>
                </fieldset>

                <fieldset class="form__fieldset">
                    <label class=fieldset__label for="">Color</label>
                    <select class="fieldset__select" name="color" id="color" multiple>
                        <% for (let j=0; j < colors.length; j++) { %>
                            <option class="select__option" value="<%=colors[j].id%>">
                                <%=colors[j].name%>
                            </option>
                            <% } %>
                    </select>
                    <% if (locals.errors && errors.color) { %>
                        <p class="form__p form__p--error">
                            <%= errors.color.msg %>
                        </p>
                        <% } %>
                </fieldset>

                <fieldset class="form__fieldset" id="group__quantity">
                    <label class=fieldset__label for="name">Cantidad</label>
                    <div class="fieldset__group">
                        <input class="fieldset__input" type="number" name="quantity" id="quantity"
                            value="<%= locals.old && old.quantity %>">
                        <i class="fieldset__validation-status--inactive fas fa-times-circle"></i>
                    </div>
                    <p class="fieldset__error--inactive">Debe ingresar la cantidad</p>
                    <% if (locals.errors && errors.quantity) { %>
                        <p class="form__p form__p--error">
                            <%= errors.quantity.msg %>
                        </p>
                        <% } %>
                </fieldset>

                <fieldset class="form__fieldset" id="group__price">
                    <label class="fieldset__label" for="price">Precio</label>
                    <div class="fieldset__group">
                        <input class="fieldset__input fieldset__input--price" name="price" id="price" type="number"
                            step="any" value="<%= locals.old && old.price %>">
                        <i class="fieldset__validation-status--inactive fas fa-times-circle"></i>
                    </div>
                    <p class="fieldset__error--inactive">Debe ingresar el precio</p>
                    <% if (locals.errors && errors.price) { %>
                        <p class="form__p form__p--error">
                            <%= errors.price.msg %>
                        </p>
                        <% } %>
                </fieldset>
                <button class="form__button" type="submit">Agregar</button>
            </form>
        </main>

        <%- include('../partials/footer') %>
            <script src="/validFront/validFrontCreate.js"></script>
</body>

</html>