<!DOCTYPE html>
<html lang="en">

<head>
  <title>Editar producto</title>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productsForms.css" />
</head>

<body class="body">
  <%- include('../partials/header') %>
    <% if (search) { %>

      <main class="mainForms">
        <form class="form" action="/products/update/<%=search.id%>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <h3 class="form__h3">Edición de producto</h3>
          <fieldset class="form__fieldset">
            <label class="fieldset__label" for="name">Nombre del producto</label>
            <input class="fieldset__input" type="text" name="name" id="name" value="<%= locals.old != undefined ? locals.old && old.name : search.name %>" />
            <!--Enviamos el mensaje de error al usuario-->
            <% if (locals.errors && errors.name) { %>
              <p class="form__p form__p--error">
                <%= errors.name.msg %>
              </p>
              <% } %>
          </fieldset>
          <fieldset class="form__fieldset">
            <label class="fieldset__label" for="description">Descripción</label>
            <textarea class="fieldset__textarea" name="description" id="description" cols="30" rows="10">
              <%= locals.old != undefined ? locals.old && old.description : search.description %></textarea>
            <% if (locals.errors && errors.description) { %>
              <p class="form__p form__p--error">
                <%= errors.description.msg %>
              </p>
              <% } %>
          </fieldset>
          <fieldset class="form__fieldset">
            <label class="fieldset__label" for="image">Imagen</label>
            <input class="fieldset__input" type="file" name="image" id="image" value="" multiple />
            <% if (locals.errors && errors.image) { %>
              <p class="form__p form__p--error">
                <%= errors.image.msg %>
              </p>
              <% } %>
          </fieldset>

          <fieldset class="form__fieldset">
            <label class="fieldset__label" for="category">Categoria</label>
            <select class="fieldset__select" name="category" id="category">
              <% for (i=0; i < category.length; i++) { %>
                <% if (category[i].id==search.category_id) { %>
                  <option value="<%=category[i].id%> " selected>
                    <%=category[i].name%>
                  </option>
                  <% } else {%>
                    <option value="<%=category[i].id%>">
                      <%=category[i].name%>
                    </option>
                    <% } %>
                      <% } %>
            </select>
          </fieldset>

          <fieldset class="form__fieldset">
            <label class=fieldset__label for="">Color</label>
            <select class="fieldset__select" name="color" id="color" multiple>
              <% totalColors.forEach(color=> { %>
                <option value="<%=color.id%>" <%=search.colors.map(colorProduct=> colorProduct.id).includes(color.id) ?
                  "selected" : null %>><%=color.name%>
                </option>
                <% }) %>
            </select>
            <% if (locals.errors && errors.color) { %>
              <p class="form__p form__p--error">
                <%= errors.color.msg %>
              </p>
              <% } %>
          </fieldset>

          <fieldset class="form__fieldset">
            <label class=fieldset__label for="name">Cantidad</label>
            <input class="fieldset__input" type="number" name="quantity" id="quantity" value="<%=locals.old != undefined ? locals.old && old.quantity : search.quantity%>">
            <% if (locals.errors && errors.quantity) { %>
              <p class="form__p form__p--error">
                <%= errors.quantity.msg %>
              </p>
              <% } %>
          </fieldset>

          <fieldset class="form__fieldset">
            <label class="fieldset__label" for="price">Precio</label>
            <input class="fieldset__input fieldset__input--price" name="price" id="price" type="number" step="any"
              value="<%= locals.old != undefined ? locals.old && old.price : search.price %>" />
            <% if (locals.errors && errors.price) { %>
              <p class="form__p form__p--error">
                <%= errors.price.msg %>
              </p>
              <% } %>
          </fieldset>
          <button class="form__button" type="submit">Editar</button>
        </form>
        <form action="/products/delete/<%=search.id%>?_method=DELETE" method="POST">
          <button class="form__button form__button--delete" type="submit">Eliminar</button>
        </form>
      </main>
      <% } else { %>
        <h1> No encontramos el producto</h1>
        <% } %>
          <%- include('../partials/footer') %>
</body>

</html>