<!DOCTYPE html>
<html lang="en">

<head>
  <title>Editar producto</title>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productsForms.css" />
</head>

<body class="body">
  <%- include('../partials/header') %>
    <% if (search) { %>

      <main class="mainForms">
        <form class="form" action="/products/update/<%=search.id%>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <h3 class="form__h3">Edición de producto</h3>
          <fieldset class="form__fieldset">
            <label class="fieldset__label" for="name">Nombre del producto</label>
            <input class="fieldset__input" type="text" name="name" id="name" value="<%= search.name %>" />
          </fieldset>
          <fieldset class="form__fieldset">
            <label class="fieldset__label" for="description">Descripción</label>
            <textarea class="fieldset__textarea" name="description" id="description" cols="30" rows="10">
              <%= search.description %></textarea>
          </fieldset>
         <!-- <fieldset class="form__fieldset">
            <label class="fieldset__label" for="image">Imagen</label>
            <input class="fieldset__input" type="file" name="gallery" id="gallery" value=""
              multiple />
          </fieldset>-->

          <fieldset class="form__fieldset">
            <label class="fieldset__label" for="category">Categoria</label>
            <select class="fieldset__select" name="category" id="category">
              <% for (i = 0; i < category.length; i++) { %> 
                <% if (category[i].id == search.category_id) { %> 
              <option value="<%=category[i].id%> "selected><%=category[i].name%></option>
              <% } else {%>
                <option value="<%=category[i].id%>"><%=category[i].name%></option>
                <% } %>
              <% } %> 
            </select>
          </fieldset>
          
          
            <fieldset class="form__fieldset">
              <label class=fieldset__label for="">Color</label>
              <select class="fieldset__select" name="color" id="color"multiple >
               <% color.forEach(colors => { %>
                <% if (colors.id == colorChoice.color_id) { %>
                  <option value="<%=colors.id%>"selected><%=colors.name%></option>
                <% } else {%>
                  <option value="<%=colors.id%>"><%=colors.name%></option>
                  <% } %>
                  <% }) %> 
              </select>
           
            </fieldset>
             
          

          <fieldset class="form__fieldset">
              <label class=fieldset__label for="name">Cantidad</label>
              <input class="fieldset__input" type="number" name="quantity" id="quantity" value="<%=search.quantity%>">
          </fieldset>

          <fieldset class="form__fieldset">
            <label class="fieldset__label" for="price">Precio</label>
            <input class="fieldset__input fieldset__input--price" type="number" name="price" id="price" min="0"
              value="<%= search.price %>" />
          </fieldset>
          <button class="form__button" type="submit">Editar</button>
        </form>
        <form action="/products/delete/<%=search.id%>?_method=DELETE" method="POST">
          <button class="form__button form__button--delete" type="submit">Eliminar</button>
        </form>
      </main>
      <% } else { %>
        <h1>  No encontramos el producto</h1>
        <% } %>
          <%- include('../partials/footer') %>
</body>

</html>