<!DOCTYPE html>
<html lang="en">

<head>
  <title>Editar producto</title>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productsForms.css" />
</head>

<body class="body">
  <%- include('../partials/header') %>
    <% if (product) { %>

      <main class="mainForms">
        <form class="form" action="/products/update/<%=product.id%>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <h3 class="form__h3">Edición de producto</h3>
          <fieldset class="form__fieldset">
            <label class="fieldset__label" for="name">Nombre del producto</label>
            <input class="fieldset__input" type="text" name="name" id="name" value="<%= product.name %>" />
          </fieldset>
          <fieldset class="form__fieldset">
            <label class="fieldset__label" for="description">Descripción</label>
            <textarea class="fieldset__textarea" name="description" id="description" cols="30" rows="10">
<%= product.description %></textarea>
          </fieldset>
          <fieldset class="form__fieldset">
            <label class="fieldset__label" for="image">Imagen</label>
            <input class="fieldset__input" type="file" name="gallery" id="gallery" value="<%= product.gallery %>"
              multiple />
          </fieldset>
          <fieldset class="form__fieldset">
            <label class="fieldset__label" for="category">Categoria</label>
            <select class="fieldset__select" name="category" id="category">
              <% if (product.category == "bike") { %>
                <option class="select__option" value="bike" selected>Bicicleta</option>
                <option class="select__option" value="accessory">Accesorio</option>
              <% } else { %>
              <option class="select__option" value="bike">Bicicleta</option>
              <option class="select__option" value="accessory" selected>Accesorio</option>
              <% } %>
            </select>
          </fieldset>

          <!--
            <fieldset class= "form__fieldset--box">
                <label class="fieldset__label" for="">Colores</label>
                <fieldset class="form__fieldset form__fieldset--checkbox">
                    <input class="fieldset__input fieldset__input--checkbox" type="checkbox" name="color" id="color1">
                    <label class="fieldset__label--checkbox" for="">Color 1</label>
                </fieldset>
                <fieldset class="form__fieldset form__fieldset--checkbox">
                    <input class="fieldset__input fieldset__input--checkbox" type="checkbox" name="color" id="color2">
                    <label class="fieldset__label--checkbox" for="">Color 2</label>
                </fieldset>
                <fieldset class="form__fieldset form__fieldset--checkbox">
                    <input class="fieldset__input fieldset__input--checkbox" type="checkbox" name="color" id="color3">
                    <label class="fieldset__label--checkbox" for="">Color 3</label>
                </fieldset>
                <fieldset class="form__fieldset form__fieldset--checkbox">
                    <input class="fieldset__input fieldset__input--checkbox" type="checkbox" name="color" id="color4">
                    <label class="fieldset__label--checkbox" for="">Color 4</label>
                </fieldset>
            </fieldset>
            -->

          <fieldset class="form__fieldset">
            <label class="fieldset__label" for="price">Precio</label>
            <input class="fieldset__input fieldset__input--price" type="number" name="price" id="price" min="0"
              value="<%= product.price %>" />
          </fieldset>
          <button class="form__button" type="submit">Editar</button>
        </form>
        <form action="/products/delete/<%=product.id%>?_method=DELETE" method="POST">
          <button class="form__button form__button--delete" type="submit">Eliminar</button>
        </form>
      </main>
      <% } else { %>
        <h1>  No encontramos el producto</h1>
        <% } %>
          <%- include('../partials/footer') %>
</body>

</html>