<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Bicicletas Rodá</title>
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body class="body">
  
    <%- include('../partials/header') %>

    <main class="main">
        <section class="nameSection">
          <h2 class="nameSection__name">PRODUCTOS</h2>
          <nav class="buttonBack">
            <a class="buttonBack__link" href=""><i class="fas fa-undo-alt buttonBack__icon"></i></a>
          </nav>
          <nav class="filterMobile">
            <a class="filterMobile__link" href="">Filtrar<i class="fas fa-filter filterMobile__icon"></i></a>
          </nav>
        </section>
        <section class="products">
            <nav class="filterSection">
              <a class="filterSection__item" href="">Modelo<i class="fas fa-angle-down filterSection__icon"></i></a>
              <a class="filterSection__item" href="">Rodado<i class="fas fa-angle-down filterSection__icon"></i></a>
              <a class="filterSection__item" href="">Tamaño de cuadro<i class="fas fa-angle-down filterSection__icon"></i></a>
              <a class="filterSection__item" href="">Color<i class="fas fa-angle-down filterSection__icon"></i></a>
              <a class="filterSection__item " href="">Ordenar por<i class="fas fa-angle-down filterSection__icon"></i></a>
            </nav>

          <% product.forEach (product => {%>
          <article class="bike">
            <a class="bike__link" href="/products/show/ <%= product.id %>">
            <figure class="bike__imageBox">
              <img class="bike__photo" src="/uploads/products/<%= product.image  %>" alt="">
            </figure>
            <h2 class="bike__description bike__description--name"><%= product.name %></h2>
            <p class="bike__description">$ <%= product.price %></p>
            </a>
          </article>          
          <% }) %>
        </section>
    </main>

    <%- include('../partials/footer') %>
      
</body>
</html>